apiVersion: v1
kind: Secret
metadata:
  name: git-credentials
type: Opaque
data:
  GIT_USERNAME: SW1hbmVJZGJhbGkwMg==       # username encodé en base64
  GIT_PASSWORD: Z2hwX3RGYjJYWElGRllJaDJxeWF5QXl2UjJMb21EcHhnTDMzdlo1cg==     # mon PAT encodé en base64
