apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: enaya
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:13
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: auth_db
            - name: POSTGRES_USER
              value: auth_user
            - name: POSTGRES_PASSWORD
              value: auth_password
            - name: PGDATA
              value: /var/lib/postgresql/data/pgdata
          volumeMounts:
            - name: init-script
              mountPath: /docker-entrypoint-initdb.d
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
          readinessProbe:
            exec:
              command:
                - pg_isready
                - -U
                - auth_user
                - -d
                - auth_db
            initialDelaySeconds: 15
            periodSeconds: 5
          livenessProbe:
            exec:
              command:
                - pg_isready
                - -U
                - auth_user
                - -d
                - auth_db
            initialDelaySeconds: 30
            periodSeconds: 10
      volumes:
        - name: init-script
          configMap:
            name: postgres-init-script
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: postgres-pvc